{% assign navurl = page.url | remove: 'index.html' %}
{% assign margin = include.level | times: 15  %}

{% assign available_langs = site.languages | map: "id" %}

{% for item in include.nav %}
  {% capture linkurl %}/{{ site.baseurl }}{{ page.language }}{{ item.url }}{% endcapture %}
  {% if linkurl == navurl %}

  <li class="active"> 
  <a href="{{ linkurl }}" style="margin-left: {{ margin }}px;">
    <b>{{ item.text | map: page.language }}</b>
  {% else %}
    <li>
    <a href="{{ linkurl }}" style="margin-left: {{ margin }}px;">
      {{ item.text | map: page.language }}
  {% endif %}
      </a>
  </li>
  {% if item.subitems and navurl contains item.url %}
      {% assign nextlevel = include.level | plus: 1 %}
      {% include navbar.html nav=item.subitems level=nextlevel %}
  {% endif %}
{% endfor %}

